<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<form method="post"
				enctype="multipart/form-data"
				th:object="${viewProduct}">

		<div th:replace="~{fragments/product-category :: selector(${viewProduct.categoryId})}"></div>
		<div>
			<div><label>상품명:</label></div>
			<div><input type="text" th:field="*{name}"></div>
		</div>
		<div>
			<div><label>브랜드:</label></div>
			<div><input type="text" th:field="*{brand}"></div>
		</div>
		<div>
			<div><label>모델명:</label></div>
			<div><input type="text" th:field="*{modelName}"></div>
		</div>
		<div>
			<div><label>출고가(원 단위):</label></div>
			<div><input type="number" th:field="*{basePrice}"></div>
		</div>
		<div>
			<div><label>재고 수량</label></div>
			<div><input type="number" th:field="*{stockQuantity}"></div>
		</div>
		<div>
			<div><label>상품 상세 설명</label></div>
			<div><textarea th:field="*{description}"></textarea></div>
		</div>
		<div>
			<div><button>등록</button></div>
			<div><a href="list">취소</a></div>
		</div>
		<div>
			<label for="image">대표 이미지</label>
			<input id ="image"
						type="file"
						name="image"
						accept="image/jpeg,image/png">	
		</div>

		<p th:if="${uploadError}"
			th:text="${uploadError}"
			role="alert"></p>

		<button type="submit">등록</button>
	
	</form>


<script th:src="@{/js/product-category.js}"></script>
</body>
</html>
